.services{
    background-color: #404040;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 150px 10%;
    column-gap: 200px;
    row-gap: 80px;
    position: relative;
}