.project{
    background-color: #282828;
    padding: 150px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .project{
        row-gap: 50px;
    }
}