.introduction {
    margin-top: -80px;
    background-color: #282828;
    height: 550px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: clamp(5px, 3vw, 80px);
    position: relative;
    padding: 100px 2%;

    .presentation {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        width: 60%;
        max-width: 550px;

        .purple {
            color: #cfa8ff
        }

        h1 {
            font-size: clamp(36px, 5vw, 46px);
        }

        p {
            font-size: 20px;
            max-width: 400px;
            line-height: 22px;

        }
    }

    .profilePicture {
        width: clamp(250px, 20vw, 300px);
        height: clamp(250px, 20vw, 300px);
        border-radius: 50%;
        background-color: #F1EFEF;
        overflow: hidden;
        position: relative;

        .profile {
            width: 500px;
            position: absolute;
            left: -80px;
        }
    }

    .titre {
        position: absolute;
        bottom: -40px;
    }
}

@media screen and (max-width: 768px) {
    .introduction {
        flex-direction: column;
        height: 100%;
        padding-bottom: 160px;
        padding-top: 160px;
        row-gap: 50px;
    }
}