.etiquette.card {
    /* Styles spécifiques à la 3D */
    perspective: 1500px;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    box-shadow: 0 1px 5px #00000099;
    position: relative;
}

.etiquette.card:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
}

.etiquette.card .glow {
    /* Styles pour la lueur */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
    border-radius: 8px;
}


.etiquette {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    max-width: 450px;
    width: 80vw;
    height: 100px;
    row-gap: 15px;
    padding: 10px;
    text-align: center;

    .serviceTitle {
        font-size: 26px;

        .purple {
            color: #cfa8ff
        }
    }

    .serviceShortDescritpion {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .etiquette {
        .serviceTitle {
            font-size: clamp(20px, 5vw, 26px);

            .purple {
                color: #cfa8ff
            }
        }

        .serviceShortDescritpion {
            font-size: clamp(12px, 3vw, 16px);;
        }
    }
}