.left {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row-reverse;
}
.oneProject {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    color: white;
    
    
    .oneProjectPicture {
        width: 400px;
        height: 550px;
        background-color: #F1EFEF;
    }
    
    .oneProjectDescription {
        background-color: #404040;
        text-align: center;
        padding: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        border-radius: 8px;
        box-sizing: border-box;
        
        h4 {
            font-size: 26px;
            color: #cfa8ff
        }
        
        p {
            font-size: 16px;
            max-width: 450px;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .oneProject{
        flex-direction: column-reverse;
        row-gap: 10px;
        .oneProjectPicture{
            width: 80vw;
        }
        .oneProjectDescription{
            width: 80vw;
            padding: 20px;
        }
        
    }
}